# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

First let's read the attached data file:

In [1]:
import pandas as pd

df0 = pd.read_csv('superstore.csv', encoding='windows-1252')

df0.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

<br>
<br>

The dependent and independent variables variables (DVs and IVs) that we are interested in are:

**DVs**:
- Profit (the profit generated by each sales transaction)

**IVs**:
- Sales (total revenue from the order)
- Quantity (number of units purchased)
- Discount (the percentage discount applied to the order)


<br>
<br>

Let's extract the relevant columns:

In [2]:

df = df0[['Profit','Sales','Quantity','Discount','Category', 'Sub-Category','Region','Segment','Ship Mode']]

df.describe()

            Profit         Sales     Quantity     Discount
count  9994.000000   9994.000000  9994.000000  9994.000000
mean     28.656896    229.858001     3.789574     0.156203
std     234.260108    623.245101     2.225110     0.206452
min   -6599.978000      0.444000     1.000000     0.000000
25%       1.728750     17.280000     2.000000     0.000000
50%       8.666500     54.490000     3.000000     0.200000
75%      29.364000    209.940000     5.000000     0.200000
max    8399.976000  22638.480000    14.000000     0.800000

<br>
<br>

Next let's use the `rename` function to give the columns simpler variable names:

In [3]:
df = df.rename( columns={'Sales': 'Sales_amount'} )

df.describe()

            Profit  Sales_amount     Quantity     Discount
count  9994.000000   9994.000000  9994.000000  9994.000000
mean     28.656896    229.858001     3.789574     0.156203
std     234.260108    623.245101     2.225110     0.206452
min   -6599.978000      0.444000     1.000000     0.000000
25%       1.728750     17.280000     2.000000     0.000000
50%       8.666500     54.490000     3.000000     0.200000
75%      29.364000    209.940000     5.000000     0.200000
max    8399.976000  22638.480000    14.000000     0.800000