# main.ipynb

This notebook runs the data parsing notebook `parse_data.ipynb` and reports a summary.

In [13]:
%run parse_data.ipynb

In [14]:
df.describe()

,temperature,precipitation,co2_per_capita,forest_area,flood_deaths,drought_deaths,storm_deaths
count,440.000000,440.000000,460.000000,460.000000,438.000000,101.000000,297.000000
mean,18.361273,1310.163636,4.650892,30.647219,409.780822,213.198020,839.437710
std,8.235418,813.383146,5.666606,18.650784,1219.832328,1989.574286,8228.135098
min,-4.870000,327.000000,0.037898,1.852782,0.000000,0.000000,0.000000
25%,13.335000,645.000000,0.760537,14.648030,8.000000,0.000000,6.000000
50%,21.495000,975.000000,1.859517,31.225458,41.000000,0.000000,40.000000
75%,25.242500,1738.000000,5.876323,40.863619,186.750000,0.000000,169.000000
max,27.700000,3240.000000,21.012618,68.493827,9819.000000,20000.000000,140985.000000