# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

First let's read the attached data file:

In [37]:
import pandas as pd

df0 = pd.read_csv('climate_factors_and_disasters.csv')

df0.describe()

,Year,avg_temperature,Average precipitation in depth (mm per year),Carbon dioxide (CO2) emissions excluding LULUCF per capita (t CO2e/capita),Forest area (% of land area),Renewable energy consumption (% of total final energy consumption),deaths_drought,injured_drought,total_damages_drought,deaths_flood,...,total_damages_flood,deaths_storm,injured_storm,total_damages_storm,deaths_wildfire,injured_wildfire,total_damages_wildfire,deaths_temperature,injured_temperature,total_damages_temperature
count,480.000000,440.000000,440.000000,460.000000,460.000000,460.000000,101.000000,101.000000,1.010000e+02,438.000000,...,4.380000e+02,297.000000,297.000000,2.970000e+02,91.000000,91.000000,9.100000e+01,154.000000,1.540000e+02,1.540000e+02
mean,2009.500000,18.361273,1310.163636,4.650892,30.647219,31.512913,213.198020,0.633663,2.094242e+06,409.780822,...,2.206292e+06,839.437710,2070.525253,7.493842e+06,24.186813,151.274725,1.677343e+06,1502.909091,2.645005e+04,5.353969e+05
std,5.772297,8.235418,813.383146,5.666606,18.650784,22.636024,1989.574286,4.480453,4.272108e+06,1219.832328,...,7.335758e+06,8228.135098,9271.537386,2.638514e+07,47.484012,385.991568,4.130856e+06,7847.514594,2.043578e+05,2.687169e+06
min,2000.000000,-4.870000,327.000000,0.037898,1.852782,3.500000,0.000000,0.000000,0.000000e+00,0.000000,...,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00
25%,2004.750000,13.335000,645.000000,0.760537,14.648030,11.100000,0.000000,0.000000,0.000000e+00,8.000000,...,0.000000e+00,6.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,14.000000,0.000000e+00,0.000000e+00
50%,2009.500000,21.495000,975.000000,1.859517,31.225458,28.500000,0.000000,0.000000,2.000000e+05,41.000000,...,1.800000e+04,40.000000,60.000000,1.750000e+05,4.000000,3.000000,1.000000e+05,61.000000,0.000000e+00,0.000000e+00
75%,2014.250000,25.242500,1738.000000,5.876323,40.863619,45.225000,0.000000,0.000000,2.910000e+06,186.750000,...,7.240000e+05,169.000000,400.000000,2.015000e+06,20.000000,124.500000,1.507500e+06,293.750000,2.000000e+02,0.000000e+00
max,2019.000000,27.700000,3240.000000,21.012618,68.493827,91.300000,20000.000000,32.000000,2.548120e+07,9819.000000,...,7.075905e+07,140985.000000,92028.000000,2.729390e+08,221.000000,2292.000000,2.280200e+07,74698.000000,1.800413e+06,2.194000e+07

<br>
<br>

The dependent and independent variables (DVs and IVs) that we are interested in are:

**DVs**:
- Number of deaths from natural disasters  
  (e.g., deaths caused by floods, droughts, and storms)

**IVs**:
- Average temperature (`avg_temperature` column in the CSV file)  
- Average precipitation (`Average precipitation in depth (mm per year)` column in the CSV file)  
- Carbon dioxide emissions per capita (`CO2` column in the CSV file)  
- Forest area (% of land area) (`Forest area` column in the CSV file)
- Renewable energy consumption (% of total final energy consumption) (`Renewable energy consumption (% of total final energy consumption)` column in the CSV file)



<br>
<br>

Let's extract the relevant columns:

In [38]:
df = df0[
    [
        "avg_temperature",
        "Average precipitation in depth (mm per year)",
        "Carbon dioxide (CO2) emissions excluding LULUCF per capita (t CO2e/capita)",
        "Forest area (% of land area)",
        "Renewable energy consumption (% of total final energy consumption)",
        "deaths_flood",
        "deaths_drought",
        "deaths_storm"
    ]
]

df.describe()

,avg_temperature,Average precipitation in depth (mm per year),Carbon dioxide (CO2) emissions excluding LULUCF per capita (t CO2e/capita),Forest area (% of land area),Renewable energy consumption (% of total final energy consumption),deaths_flood,deaths_drought,deaths_storm
count,440.000000,440.000000,460.000000,460.000000,460.000000,438.000000,101.000000,297.000000
mean,18.361273,1310.163636,4.650892,30.647219,31.512913,409.780822,213.198020,839.437710
std,8.235418,813.383146,5.666606,18.650784,22.636024,1219.832328,1989.574286,8228.135098
min,-4.870000,327.000000,0.037898,1.852782,3.500000,0.000000,0.000000,0.000000
25%,13.335000,645.000000,0.760537,14.648030,11.100000,8.000000,0.000000,6.000000
50%,21.495000,975.000000,1.859517,31.225458,28.500000,41.000000,0.000000,40.000000
75%,25.242500,1738.000000,5.876323,40.863619,45.225000,186.750000,0.000000,169.000000
max,27.700000,3240.000000,21.012618,68.493827,91.300000,9819.000000,20000.000000,140985.000000

<br>
<br>

Next let's use the `rename` function to give the columns simpler variable names:

In [39]:
df = df.rename(
    columns={
        "avg_temperature": "temperature",
        "Average precipitation in depth (mm per year)": "precipitation",
        "Carbon dioxide (CO2) emissions excluding LULUCF per capita (t CO2e/capita)": "co2_per_capita",
        "Forest area (% of land area)": "forest_area",
        "Renewable energy consumption (% of total final energy consumption)": "renewable_energy",
        "deaths_flood": "flood_deaths",
        "deaths_drought": "drought_deaths",
        "deaths_storm": "storm_deaths"
    }
)

df.describe()

,temperature,precipitation,co2_per_capita,forest_area,renewable_energy,flood_deaths,drought_deaths,storm_deaths
count,440.000000,440.000000,460.000000,460.000000,460.000000,438.000000,101.000000,297.000000
mean,18.361273,1310.163636,4.650892,30.647219,31.512913,409.780822,213.198020,839.437710
std,8.235418,813.383146,5.666606,18.650784,22.636024,1219.832328,1989.574286,8228.135098
min,-4.870000,327.000000,0.037898,1.852782,3.500000,0.000000,0.000000,0.000000
25%,13.335000,645.000000,0.760537,14.648030,11.100000,8.000000,0.000000,6.000000
50%,21.495000,975.000000,1.859517,31.225458,28.500000,41.000000,0.000000,40.000000
75%,25.242500,1738.000000,5.876323,40.863619,45.225000,186.750000,0.000000,169.000000
max,27.700000,3240.000000,21.012618,68.493827,91.300000,9819.000000,20000.000000,140985.000000